BOT_TOKEN=EXAMPLE
APP_TITLE=Админ-панель Qtech
DATABASE_URL=sqlite+aiosqlite:///./Qtech_bot.db
BOT_DATABASE_URL=sqlite:///../QTech_bot.db
SECRET=SECRET
POSTGRES_DB=lorabot
POSTGRES_USER=lorabot
POSTGRES_PASSWORD=lorabot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ANALYTICS_PASSWORD=lorabot
ANALYTICS_CALL=lorabot
TG_BOT_NAME=<tg_bot_name>
