pydantic==1.9.1
sqlalchemy==1.4.36
aiosqlite==0.17.0
fastapi==0.78.0
alembic==1.7.7
python-multipart==0.0.5
python-telegram-bot==13.7
uvicorn[standard]==0.17.6
starlette==0.19.1
greenlet==1.1.2
SQLAlchemy-Utils==0.41.2
Jinja2==3.1.4

fastapi-login
passlib[bcrypt]
python-jose
rich