{% extends "base.html" %}
{% block content %}

<br>
<div class="container my-5 d-flex justify-content-center">
  <form class="form-horizontal card col-8" method="POST" enctype="multipart/form-data">
    <div class="card-header">
      <h3>Создание информационной кнопки</h3>
    </div>

    <br>
    <div class="container">
      <div class="row">
        <div class="text-danger font-weight-bold">
          <ul>
            {% for error in errors %}
            <li class="alert alert-danger">
              {{error}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Название кнопки:</label>
      <input type="text" class="form-control col-sm-12 invalidInput" name="name" id="name" placeholder="Название кнопки"
             value="{{name}}" required/>
    </div>

    <div class="form-group">
      <label for="is_moscow">Кнопка для посещающих московский офис
        <span class="info-icon" data-toggle="tooltip"
              title="Если вы выберете «Да», кнопка будет видна только тем сотрудникам, которые в интерфейсе телеграм бота отметили, что посещают офис в Москве">ℹ️</span>
      </label>
      <select class="form-control" name="is_moscow" id="is_moscow">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="is_department">Кнопка отделов
        <span class="info-icon" data-toggle="tooltip"
              title="В телеграм боте есть кнопка «К кому обращаться?». Созданная кнопка попадёт в этот раздел, если вы выберете «Да»">ℹ️</span>
      </label>
      <select class="form-control" name="is_department" id="is_department">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="text">Текст по нажатию кнопки:
        <span class="info-icon" data-toggle="tooltip"
              title="Пользователь увидит этот текст, когда нажмет на кнопку">ℹ️</span>
      </label>
      <textarea class="form-control" name="text" id="text" placeholder="">{{text}}</textarea>
    </div>

    <div class="form-group">
      <label for="is_active">Активировать кнопку
        <span class="info-icon" data-toggle="tooltip"
              title="Это поле нужно для того чтобы ограничить попадание кнопки в телеграм бота. Если вы выберете «Нет», кнопка не отобразится в боте, но будет доступна в админ-зоне для редактирования">ℹ️</span>
      </label>
      <select class="form-control" name="is_active" id="is_active">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="file_pic">Выберите картинку для загрузки
        <span class="info-icon" data-toggle="tooltip"
              title="Картинка будет показана по нажатию кнопки вместе с текстом кнопки">ℹ️</span>
      </label>
      <input type="file" id="file_pic" name="file_pic" multiple/>
    </div>

    <div class="form-group">
      <label for="file_doc">Выберите файл для загрузки
        <span class="info-icon" data-toggle="tooltip"
              title="Файл будет показан по нажатию кнопки вместе с текстом кнопки">ℹ️</span>
      </label>
      <input type="file" id="file_doc" name="file_doc" multiple/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
  </form>
</div>

<script src="/static/ckeditor/build/ckeditor.js"></script>

<script>
  ClassicEditor
    .create(document.querySelector('#text'))
    .catch(error => {
      console.error(error);
    });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip({
      delay: {"show": 100, "hide": 10}
    });
  });
</script>

{% endblock %}
