{% extends "base.html" %}
{% block content %}

<br>
<div class="container my-5 d-flex justify-content-center">
  <form class="form-horizontal card col-8" method="POST" enctype="multipart/form-data">
    <div class="card-header">
      <h3>Создание информационной кнопки</h3>
    </div>

    <br>
    <div class="container">
      <div class="row">
        <div class="text-danger font-weight-bold">
          <ul>
            {% for error in errors %}
            <li class="alert alert-danger">
              {{error}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Название кнопки:</label>
      <input type="text" class="form-control col-sm-12 invalidInput" name="name" id="name" placeholder="Название кнопки"
             value="{{name}}" required/>
    </div>

    <div class="form-group">
      <label for="is_moscow">Кнопка для посещающих московский офис:</label>
      <select class="form-control" name="is_moscow" id="is_moscow">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="is_department">Кнопка контактов</label>
      <select class="form-control" name="is_department" id="is_department">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="text">Текст по нажатию кнопки:</label>
      <textarea class="form-control" name="text" id="text" placeholder="">{{text}}</textarea>
    </div>

    <div class="form-group">
      <label for="is_active">Активировать кнопку</label>
      <select class="form-control" name="is_active" id="is_active">
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label for="file_pic">Выберите картинку для загрузки</label>
      <input type="file" id="file_pic" name="file_pic" multiple/>
    </div>

    <div class="form-group">
      <label for="file_doc">Выберите файл для загрузки</label>
      <input type="file" id="file_doc" name="file_doc" multiple/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
  </form>
</div>

<script src="/static/ckeditor/build/ckeditor.js"></script>

<script>
  ClassicEditor
    .create(document.querySelector('#text'))
    .catch(error => {
      console.error(error);
    });
</script>

{% endblock %}
