{% extends "base.html" %}
{% block content %}

<div class="container">
  <h3 class="mt-5 mb-3">Список кнопок</h3>
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th>Название кнопки</th>
      <th>Для московского офиса</th>
      <th>Активирована</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for item in buttons %}
    <tr>
      <td class="col-md-2"><a href="/{{item.id}}">{{ item.name }}</a></td>
      <td class="col-md-2">{{ "Да" if item.is_moscow else "Нет" }}</td>
      <td class="col-md-2">{{ "Да" if item.is_active else "Нет" }}</td>
      <td class="col-md-2" align="center"><a href="...">
        <img src="static/general/bin.png" style="width:15%"></a>
      <td class="col-md-2" align="center"><a href="{{ url_for('update_button_form', button_id=item.id) }}">
        <img src="static/general/edit.png" style="width:15%"></a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

