{% extends "base.html" %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mt-3 mb-4">Добавление администратора</h2>

  {% if errors %}
  <div class="alert alert-danger">
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <form action="/register" method="post" class="mx-auto col-md-6">
    <div class="form-group">
      <label for="email">Почта:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="is_superuser">Сможет создавать и удалять пользователей:</label>
      <select class="form-control" id="is_superuser" name="is_superuser">
        <option value="0">Нет</option>
        <option value="1">Да</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Создать пользователя</button>
  </form>
</div>
{% endblock %}


